#map {
	height: 75%;
}
html, body {
    height: 100%;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
}
.body {
	background-color: #fcf6e2;
}

h2 {
	text-align: center;
}
.box{
	border-style: solid;
	border-color:black;
	border-width: thin;
	padding: 20px;
	background-color:#fce693;
}